@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color:                #080909;
    --page-accent-color:         #5e799d;
    --page-accent-color-hover:   color-mix(in srgb, var(--page-accent-color), black 10%);;
    --ui-main-bg:                #f9f9f9;
    --ui-form-bg:                #ffffff;
    --input-focused-color:       #3b64d7;
    --input-incorrect-color:     #a72828;
    --input-neutral-color:       #d2d4d8;
    --logo-text-overlay-bg:      #00000060;
    --logo-text:                 #ffffff;
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family:
        'Ubuntu',
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji'; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    tab-size: 4;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace; 
    font-size: 1em; 
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; 
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
}

summary {
    display: list-item;
}

/* Matt Brictson CSS Reset */

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/*         MAIN CUSTOM CSS          */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */

html {
    font-size: clamp(0.3rem, 0.75rem + 1.5vw, 1.3rem);
}

::selection {
	background-color: var(--page-accent-color);
	color: white;
}

a {
	text-decoration: none;
	cursor: pointer;
    color: var(--page-accent-color);
}

[id] { 
	scroll-margin-top: 150px; 
}

body {
    height: 100vh;
    background-color: var(--ui-main-bg);
    color: var(--text-color);
}

div.container {
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 40vw;
    height: 100vh;
    position: relative;
}

.sidebar,
.sidebar * {
    user-select: none;
}

.sidebar img.background {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.sidebar-logo-container {
    position: absolute;
    width: 100%;
    background: var(--logo-text-overlay-bg);
    color: var(--logo-text);
    top: 9rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Norse';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.logo-image {
    width: 5rem;
    height: auto;
}
.logo-text {
    opacity: 1;
}


/* ============ */
/*   Main Bar   */
/* ============ */

.mainbar {
    width: 60vw;
}

/* Header */

.header {
    display: flex;
    align-items: end;
    height: 35vh;
    width: 100%;
    padding-left: 4vw;
    padding-bottom: 2.5vw;
}

.header-text {
    display: inline-block;
    font-weight: 500;
    max-inline-size: 66ch;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* Input Form */

.input-form {
    background-color: var(--ui-form-bg);
    height: 35vh;
    width: 100%;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.42); 
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.20);
    padding-left: 4vw;
}

.form-header {
    font-weight: 500;
    padding-top: 0.7rem;
    font-size: 1.2rem;
}

.form-row {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-size: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
    width: 17rem;
    padding: 10px;
    border: 1px solid var(--input-neutral-color);
    border-radius: 4px;
    font-family: inherit;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border: 2px solid var(--input-focused-color);
    box-shadow: 0 2px 2px 2px rgba(89, 149, 218, 0.2);
}

input:user-invalid {
	border-color: var(--input-incorrect-color);
}


/* Action Area */

.action-area {
    height: 30vh;
    width: 100%;
    padding-left: 4vw;
    padding-top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.action-area button {
    width: fit-content;
    padding: 0.7rem 3rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: var(--page-accent-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.2); 
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.2);   
}

.action-area button:hover {
    background-color: var(--page-accent-color-hover);
}

.action-area a:hover {
    color: var(--page-accent-color-hover);
    text-decoration: underline;
}